{% extends '::base.html.twig' %}

{% block body %}  
<ul class="record_actions">
    <li>
    	<form class="form" action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }}>      
            {{ form_errors(form) }}
            <div class="contenedor_inputs_labels">
                <div class="div_izquierdo">
                    <div>
                       {{ form_label(form.username, 'Nombre de Usuario') }}<br>
                       {{ form_widget(form.username) }}
                    </div>
                    <div>
                        {{ form_label(form.password, 'Password') }}<br>
                        <p style="margin-top:40px; margin-left:0px;" class="repass">Repetir Password</p><br>
                        {{ form_widget(form.password) }}<br>

                    </div>
                    <div>
                        {{ form_label(form.user_roles, 'Tipo de Usuario') }}<br>
                        {{ form_widget(form.user_roles) }}
                    </div>
                    
                </div>

            </div>
            <p>
			{{ form_rest(form) }}
                <button class="editar" type="submit" title="Crear Nuevo Sismo"></button>
            </p>
        </form>
    </li>
</ul>
{% endblock %}