{% extends '::base.html.twig' %}

{% block body %}  
<ul class="record_actions">
    <li>
    <form class="form" action="{{ path('admin_zonaMacrosismica_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>   
            {{ form_errors(edit_form) }}
            <div class="espacio"></div>
            <div class="contenedor_inputs_labels">
                <div class="div_izquierdo">
                    <div>
                       {{ form_label(edit_form.zonaMacrosismica, 'Zona Macrosismica') }}<br><br>
                       {{ form_widget(edit_form.zonaMacrosismica) }}
                    </div>
                </div>

                <div class="div_derecha">
                    <div>
                      
                    </div>

                </div>
            </div>
            <p>
			{{ form_rest(edit_form) }}
                <button class="editar" type="submit" title="Editar Archio"></button>
            </p>
        </form>
    </li>
    <li>
       <!-- <form action="{{ path('admin_zonaMacrosismica_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="eliminar" type="submit" title="Eliminar Archivo"></button>
        </form>-->
    </li>
</ul>
{% endblock %}